:root {
    --primary-color: #1b263b;
    --secondary-color: #0000003e;
    --tertiary-color: #e0e1dd;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
    transition: background-color 1s ease-in-out 0.5s;
}

#random {
    color: var(--tertiary-color);
    font-family: 'Alexandria', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    margin-bottom: 32px;
}

.button {
    position: absolute;
    bottom: 15%;
    background-color: var(--primary-color);
    box-shadow: 0 7px var(--secondary-color);
    border: 2.5px solid var(--secondary-color);
    border-radius: 15px;
    color: var(--tertiary-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Alexandria', sans-serif;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    transition: background-color 1s ease-in-out 0.5s;
}

.button:active {
    box-shadow: none;
    transform: translateY(7px);
}

