:root {
  --primary-color: #1b263b;
  --secondary-color: #0000003e;
  --tertiary-color: #ffffffcc;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: var(--secondary-color);
}

::selection {
  color: rgb(255, 255, 255);
  background: var(--secondary-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  transition: background-color 2s ease-in-out 0.8s;
  overflow: hidden;
}

.wrapper {
  /* background-image: url(hexed.png);
  background-size: 8px 8px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

button {
  -webkit-tap-highlight-color: transparent;
}

#random {
  color: var(--tertiary-color);
  font-family: "Alexandria", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  margin-bottom: 32px;
}

#madeFromMe {
  color: var(--tertiary-color);
  font-family: "Alexandria", sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 5%;
}

.buttonsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 15%;
  margin: 0 10px 0 10px;
}

.button {
  background-color: var(--primary-color);
  box-shadow: 0 7px var(--secondary-color);
  border: 2.5px solid var(--secondary-color);
  border-radius: 15px;
  color: var(--tertiary-color);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  font-family: "Alexandria", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s ease 0s, background-color 2s ease-in-out 0.8s;
}

.button:active {
  box-shadow: none;
  transform: translateY(7px);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

@keyframes shakingFrames {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-2px, 2px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.shaking {
  animation: shakingFrames 0.15s infinite;
}

.hirakoTime {
  transform: rotate(180deg);
  transition: background-color 2s ease-in-out 0.8s, transform 2s ease-in-out 0.5s;
}
